.appname-text{
-fx-text-fill: #fff;
}

.menuButton{
-fx-background-color: #fff;
-fx-border-radius: 0;
-fx-effect: dropshadow(three-pass-box, #dbdbdb, 0, 1.0, 0, 3)

}

.anchorPane{
-fx-background-color: #121212;
}

.mainContainer{
-fx-background-image:url('stripes-light.png');
-fx-background-repeat:repeat;
}

.topBar{
-fx-background-color: #4b7bec;
}


.eventFilterChoiceBox{
-fx-background-color:#fff;

}

.secondary-button{
-fx-background-color: #4b7bec;
-fx-text-fill: #fff;
-fx-effect: dropshadow(three-pass-box, #8f8f8f, 0, 0.7, 0, 2)

}

.topBarControls{
-fx-background-color: none;
-fx-text-fill: #fff;

}

.sceneTitle{
-fx-background-color:#4b7bec;
}

.blueGreyPane{
-fx-background-color: rgba(241,243,245,1.0);
}

.sceneDescription{
-fx-background-color:none;
}

.addEventToCalendarButton{
-fx-background-color: #4b7bec;

}

.eventTypeChoiceBox{
-fx-background-color:#fff;
-fx-border-color:#d1d8e0;
-fx-font-size: 20px;

}

.datePicker{
-fx-font-size: 20px;

}

.list-cell:filled{
-fx-font-size: 15px;

}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}
